:root{
    --principal: #2dab6f;
    --destaque: #A63247;
    --bgcor: #eff2d4;
    --cor_texto: #59504A;
}

body{
    max-width: 750px;
    margin: 0 auto;
    padding: 50px;
    background-color: var(--bgcor);
    color: var(--cor_texto);
    font-family: sans-serif;
}

div.nome{
    text-align: center;
}
div.nome h1{margin-bottom: 5px;}

div.nome p{margin-top: 10px; margin-bottom: 0px;}

div.nome nav a{
    display: inline-block;
    margin-top: 5px;
}

div.contatos{padding: 15px;}

div.contatos ul{ 
    display: flex;
    list-style: none; 

    margin: 5px; 
    padding: 0px;

    justify-content: center;
}

div.contatos li{ padding: 5px 10px; justify-content: center;} /* pq to fazendo isso? eu acho  que as vezes sou um completo idiota por ficar fazendo esses minimos ajustes e detalhes*/
div.contatos li strong{display: block;}
div.contatos li a{display: block;}
div.contatos li:not(:last-child){border-right: solid 3px var(--principal); padding-right: 25px; margin-right: 5px;}
div.contatos li:last-child{ margin-right: 55px;}

div.topo_projetos{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

div.topo_projetos a{
    display: inline-block;
    padding: 15px 30px;
    margin: 0;

    font-weight: bold;
    text-decoration: none;

    color: var(--bgcor);
    background-color: var(--principal);
    border-radius: 5px;

    transition: all 0.25s ease-in-out;
}
div.topo_projetos a:hover{background-color: var(--destaque);}

div.botao_projetos_page nav a:before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;

    width: 10%;
    height: 25%;

    border-left: solid 5px var(--principal);
    border-top: solid 5px var(--principal);
    border-top-left-radius: 5px;
}

div.botao_projetos_page nav a::after{ /*acho que ja perdi a mão nesse trabalho...*/
    position: absolute;
    content: "";
    bottom:0;
    right: 0;

    width: 10%;
    height: 25%;

    border-right: solid 5px var(--principal);
    border-bottom: solid 5px var(--principal);
    border-top-right-radius: 5px;
}

div.botao_projetos_page nav a{
    position: relative;


    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;

    font-weight: bold;
    text-decoration: none;

    color: var(--principal);
    background-color: transparent;
    border-radius: 5px;

    transition: all 0.25s ease-in-out;
}

div.botao_projetos_page nav a:hover{background-color: var(--principal); color: var(--bgcor);}

div.Galeria_project_chika{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 45px;
}

div.Galeria_project_chika figure{margin: 0; padding: 0 15px; transition: 0.25s ease;}
div.Galeria_project_chika figure img{margin: 0; max-height: 100%; max-width: 100%; border-radius: 5px;}
div.Galeria_project_chika figure:hover{transform: scale(1.1);}

div.Galeria_project_chika figcaption{
    margin: 3px 0px;
    padding: 0px;

    text-align: left;
    font-size: 14px;
    opacity: 0.85;
    line-height: 1.4;
}


section::before{
    content: "";
    position: absolute;
    pointer-events: none;

    top: 0;
    left: 0;

    width: 95%;
    height: 75px;

    
    border-left: solid 5px var(--principal);
    border-top: solid 5px var(--principal);
    border-top-left-radius: 5px;

}
section::after{
    content: "";
    position: absolute;
    pointer-events: none;

    bottom: 0;
    right: 0;

    width: 95%;
    height: 75px;

    border-right: solid 5px var(--principal);
    border-bottom: solid 5px var(--principal);
    border-bottom-right-radius: 5px;
}

section{
    position: relative;

    padding:  5px 20px;
    margin: 30px 0;

    text-align:left;
    
}
section a.repo_github{
    display: inline-block;
    padding: 15px;
    margin-left: 0;


}

footer{
    text-align: center; 
    opacity: 0.85;

    border-top: solid 3px var(--principal);

    padding: 3px;
    margin-top: 50px;
}

h1,h2,h3 {
    color: var(--principal);
}
p{
    color: var(--cor_texto);
}

a{
    color: #9f3322d5;
}
strong{
    color: var(--cor_texto);
}

@media (max-width: 700px){
    body{
        padding: 30px;
    }

    div.contatos ul{
        flex-direction: column;
    }
    div.contatos li:not(:last-child){border-right: none; border-bottom: solid 3px var(--principal); padding-bottom: 20px; margin-bottom: 5px;}
    div.contatos li:last-child{ margin-right: 55px;}

    div.Galeria_project_chika{
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

    div.topo_projetos a{
    padding: 2px 5px;
    margin-top: 20px;

    font-weight: bold;
    text-decoration: none;

    color: var(--principal);
    background-color: transparent;
    border-radius: 4px;

    border-bottom: solid 3px var(--principal);

    transition: all 0.25s ease-in-out;
    }

    div.topo_projetos a:hover{ background-color: transparent;}


    div.topo_projetos a:active{
        background-color: transparent;
        color: var(--destaque);
        border-color: var(--destaque);

    }

    div.topo_projetos a:active::after{ width: 80%; left: 0;}
}